body{
    min-height: 100vh;
    background: url('../img/19366.jpg');
    background-size: cover;
}

.modal-content{
    
    background: url('../img/19366.jpg');
    background-size: cover;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #faf3f3;
  }